{% extends 'dict//base.html' %}

{% block content %}
<body>

<div class = 'container'>
    {% if context %}
        {% for word in context%}
            <div class = 'container' style = 'display: flex; margin = 5'>
                <body link = "0000ff" vlink="0000ff">
                    <a href = "{% url 'dict:item' word.pk.raw %}">
                        <h1 style = 'margin-right: 10px'>{{ word.word.raw }}</h1>
                    </a>
                </body>

                <div class = 'container'>
                    <h5 style = 'margin-top: 5; margin-bottom: 0'>{{ word.sense_no.raw }}</h5>
                    {% if word.pronunciation.raw != None %}
                        <h3 style = 'margin: 0'>{{ word.pronunciation.raw}}</h3>
                    {% endif %}
                </div>
            </div>
            <h2 style = 'margin: 0'>{{ word.definition.raw}}</h2>
        {% endfor %}
    {% else %}<!-- 검색 결과가 없는 경우-->
        <b><i> Not Found</i></b>
{% endif %}
</div>

</body>
{% endblock %}